/*Primary Colors (Logo n main ): #f0cc56*/



.marketing {
	text-align: center;
	margin-bottom:20px;

}
.divider{
	margin:80px 0;
}
hr{
	border:solid 1px #eee;
}
.thumbnail img {
	width: 100%;
}
.navbar{
	margin-bottom:50px;
}

.padding-top-10{
	padding-top:50px;
}
/*----------------------------------Homepage styles -------------------------------------------*/

/*-----Navbar Style here-----*/
.brand-img{
	max-height:95%;
	margin-right:25px;
}
.brand-box1{
	padding-left: 20px;
}
.brand-link{
	padding:2px;
}

.nav-ul{
	background-color:rgba(0,0,0,0.8);
}
.nav-ul li{
	background-color:rgba(0,0,0,0.8);
}
.nav-ul li a {
	color:#fff;
}

/*---Navbar style ends here-----*/
.main-text{
	background-image: url(../assets/images/1.jpg);	
	background-color:#f0cc56;
	display: table;
	width: 100vw;
}

.home-heading{
	text-align: center;
	padding-top:32px;
	height:25vh;
	display: table-cell;
	margin:0 auto;
	vertical-align:middle;
}
.home-heading h1{
	font-size:40px;
	letter-spacing:2px;
	text-shadow: 1.5px 1.5px #000;
	
}
.home-heading h5{
	text-transform:uppercase;
	letter-spacing: 3px;
	margin-left: 0;
	text-shadow: 1px 1px #000;
}
.hr-style{
	border-top: 2px solid #8c8b8b;
	margin-top: 0;
}

/*----hot products style---*/

.hot-products {
	text-align: center;
	margin:0;
	padding:0;
	width:30%;
	height:70vh;
	/*border: 1px solid #000;*/
}
.hot-img{
	padding:0;
	width:90%;
}
h1.hot-heading{
	text-align: center;
	margin-bottom:80px;
}
.p-heading{
	text-align: center;
	margin-bottom:30px; 
}
.hot-box{
	/*background-color:green;*/
	margin:0;
	height:100vh;
}
.hot-row{
	margin:0;
	padding-left:15px;
	max-width:100%;
}
.tablets{
	margin-left:70px;
}
.tablet-h{
	margin-top:55px;

}
.accessories-h{
	margin-top:30px;
}


/*----hot products style ends ------*/







/*--slider styles-------*/

.item{
	max-height:70vh;
}

/*--slider styles ends--*/

/*---Clearance Style Starts ----*/
.clearance{
	background-color:#e74c3c;
	height:220px;
	text-align: center;

}
.clearance h1{
	margin:0;
	color:white;
	text-transform:uppercase;
	letter-spacing:3px;
	font-weight: bold;
}
.ltd-time{
	max-width:50%;
	margin:0,auto;
}
.clearance h3{
	color:white;
}
.clearance ul li {
	display: inline-block;
	margin-right:15px;
}
.clearance ul li span{
	font-size:9px;
	color: white;
	text-transform:uppercase;
}
.clearance ul {

}

/*---Clearance Style Ends here ----*/


/*----Newsletter Styles here-------*/
.news-box{
	height:250px;
	position: relative;
	background-image:url(../images/1.jpg);
	background-position: center center;
	background-size: cover;
	display: table;
	width:100vw;
	padding-top:35px;
	text-align: center;
}
.n-trans{
	position: absolute;
	top:0;
	left: 0;
	height: 250px;
	background-color: rgba(0,0,0,0.8);
	width:100vw;
}
.news-row h3{
	margin-bottom:25px;
	color: white;
}
.news-row{
	position: absolute;
	z-index:+1;
	left:40%;
}
.news-email{
	width:300px;
	text-align: center;
	margin-bottom:25px;
	display: table-cell;
	margin:0,auto;
	vertical-align: middle;

}
.signup{
	width:100px;
	display: table-cell;
	margin:0,auto;
	vertical-align: middle;
}
	/*----Newsletter Styles ends here-------*/
	/*payment style*/
.payment{

		height:100px;
		padding-top:40px;
		padding-left: 0;
	}
.payment span{
	font-size:18px;
	text-transform: uppercase;
	margin-left: 80px;
	margin-right:50px;
	font-weight: bold;
	/*payment style ends*/
}


/*-----Latest Products Style-------*/

.latest{
	text-align: center;
	color:#000;
	margin-bottom:40px;
}
.latest-d{
	margin-bottom:50px;
	margin-top: 0;
}

/*-----Latest products style ends -------*/

/*----------------------------------Homepage styles Ends -------------------------------------------*/


/*----------------------------------Productpage styles Starts -------------------------------------------*/

.product-box{
	padding-top:100px;
}





/*----------------------------------Productpage styles Ends -------------------------------------------*/



/*----------------------------------Mobilepage styles Starts -------------------------------------------*/

.mobile-box{
	padding-top:100px;
}





/*----------------------------------Mobilepage styles Ends -------------------------------------------*/


/*----------------------------------Checkoutpage styles Starts -------------------------------------------*/

.checkout-box{
	padding-top:100px;
}





/*----------------------------------Checkoutpage styles Ends -------------------------------------------*/


/*----------------------------------Cartpage styles Starts -------------------------------------------*/

.checkout-box{
	padding-top:100px;
}





/*----------------------------------Cartpage styles Ends -------------------------------------------*/

.cart-box{
	padding-top:100px;
}








/*----------------------------------Registration form styles -------------------------------------------*/
.rg-form{
	width:550px;
	position: absolute;
	top:10%;
	left:30%;
}
.rg-heading{
	text-align: center;
	font-size:20px;
}
.btn-reg{
	margin-top:30px;
}
.bg-register{
	background-color:#585858;
	height:100vh;
	position: relative;
	
}
/*----------------------------------Registration form styles Ends -------------------------------------------*/

/*----------------------------------Login form styles -------------------------------------------*/
.login-body{
	height:100vh;
	position: relative;
	background-color:#585858;
}
.login-box{
	width: 500px;
	position: absolute;
	top:25%;
	right:35%;
}
.remember-me{
	margin-top:10px;
	padding-left: 20px;
}
.remember-me li{
	display: inline-block;
	margin-right:50px;
	margin-left: 0;
}
h5{
	margin-left:80px;
}

/*----------------------------------login form styles Ends -------------------------------------------*/

/*-- ------------------contact style starts here ---------------------------------------------------- --*/
.mail h3:before{
	left:25%;
}
.mail h3:after{
	right:25%;
}
.mail-grids{
	margin:3em 0;
}
.mail-grid-left input[type="text"],.mail-grid-left input[type="email"],.mail-grid-left textarea{
	outline: none;
    border: 1px solid #E4E4E4;
    background: #f5f5f5;
    font-size: 14px;
    color: #212121;
    padding: 10px;
    width: 100%;
}
.mail-grid-left input[type="email"]{
	margin:1em 0;
}
.mail-grid-left textarea{
	min-height:200px;
	margin:1em 0 .8em;
}
.mail-grid-left input[type="submit"]{
	outline:none;
	border:none;
	background:#d8703f;
	font-size:1em;
	color:#fff;
	padding:10px 0;
	width:30%;
}
.mail-grid-left input[type="submit"]:hover{
	background:#ffc229;
}
.mail-grid-right1{
	padding:2em;
	background:#ffc229;
	text-align:center;
}
.mail-grid-right1 img {
    margin: 0 auto;
    padding: .5em;
    border: 1px dotted #212121;
    border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
}
.mail-grid-right1 h4{
	font-size:1em;
	color:#212121;
	margin:1em 0;
	text-transform:uppercase;
}
.mail-grid-right1 h4 span{
	display: block;
    text-transform: capitalize;
    font-size: .8em;
    color:#FFFFFF;
    margin: .5em 0 0;
}
.mail-grid-right1 ul.phone-mail li{
	list-style-type:none;
	margin-bottom:1em;
	font-size:14px;
	color:#FFFFFF;
}
.mail-grid-right1 ul.phone-mail li a{
	color:#FFFFFF;
	text-decoration:none;
}
.mail-grid-right1 ul.phone-mail li a:hover{
	color:#212121;
}
.mail-grid-right1 ul li i{
	left:-.5em;
}
ul.phone-mail {
    margin: 0 0 2em;
}
.mail iframe{
	width:100%;
	min-height:300px;
	padding:0 1em;
}
.contact{
	padding-top:50px;
}
.heading{
	text-align: center;
}
.social-icons li{
	display: inline-block;
	margin-right:20px;
}
.contact iframe{
	width: 100%;
	height:300px;
}
.line-after-payment{
	margin-bottom:0;
	margin-top:20px;
}
/*-----------------------------contact style ends------------------------------------------------------------*/


/*-------------------------------Footer style Starts here ---------------------------------------------------*/
.footer-box{
	height:300px;
	background-color:#62bec3;
	padding-top: 20px;
}
.footer-box span{
	display:block;
	margin-bottom:18px;
}
.footer-box span a{
	color: white;
}
.footer-box h4{
	margin-bottom:25px;
}
.footer-l-row{
	
}
.footer-r-row{
	
}
.r-r-box ul li a img{
	width:30px;
}
.r-r-box img{
	width:250px;
}
.r-r-box ul{
	padding-left:0px;
}
.r-r-box ul li{
	margin-bottom:25px;
	display: inline-block;
	margin-right:20px;
}


/*---------------------------Error page-------------------------------- */

#error{
	background-color: #9b59b6;
	height:100vh;
	text-align: center;
	padding-top:40vh;
}
#error h1{
	color:#34495e ;
	font-size:120px;
	margin-top: 0;
}
#error h2{
	color:#34495e ;
	font-size:50px;
	margin:0;
}
#error p{
	font-size:20px;
	margin-bottom: 30px;
}
#error a{
	color:white;
}


/*---------------------------------Error page ends here------------------------------------------------*/









