Primary Colors (Logo n main ): #f0cc56*/



.marketing {
	text-align: center;
	margin-bottom:20px;

}
.divider{
	margin:80px 0;
}
hr{
	border:solid 1px #eee;
}
.thumbnail img {
	width: 100%;
}
.navbar{
	margin-bottom:50px;
}

.padding-top-10{
	padding-top:50px;
}
/*----------------------------------Homepage styles -------------------------------------------*/

/*-----Navbar Style here-----*/
.brand-img{
	max-height:100%;
}
.brand-box1{
	padding-left: 20px;
}
.brand-link{
	padding:2px;
}

.nav-ul{
	background-color:rgba(0,0,0,0.8);
}
.nav-ul li{
	background-color:rgba(0,0,0,0.8);
}
.nav-ul li a {
	color:#fff;
}

.main-text{
	background-image: url(../assets/images/1.jpg);	
	background-color:#f0cc56;
	display: table;
	width: 100vw;
}

.home-heading{
	text-align: center;
	padding-top:32px;
	height:25vh;
	display: table-cell;
	margin:0 auto;
	vertical-align:middle;
}
.home-heading h1{
	font-size:40px;
	letter-spacing:2px;
	text-shadow: 1.5px 1.5px #000;
	
}
.home-heading h5{
	text-transform:uppercase;
	letter-spacing: 3px;
	margin-left: 0;
	text-shadow: 1px 1px #000;
}
.hr-style{
	border-top: 2px solid #8c8b8b;
	margin-top: 0;
}

/*----hot products style---*/

.hot-products {
	text-align: center;
	margin:0;
	padding:0;
	width:30%;
	height:70vh;
	/*border: 1px solid #000;*/
}
.hot-img{
	padding:0;
	width:90%;
}
h1.hot-heading{
	text-align: center;
	margin-bottom:80px;
}
.p-heading{
	text-align: center;
	margin-bottom:30px; 
}
.hot-box{
	/*background-color:green;*/
	margin:0;
	height:100vh;
}
.hot-row{
	margin:0;
	padding-left:15px;
	max-width:100%;
}
.tablets{
	margin-left:30px;
}
.tablet-h{
	margin-top:55px;

}
.accessories-h{
	margin-top:30px;
}


/*----hot products style ends ------*/

/*-----Latest Products Style-------*/
.latest{
	text-align: center;
}
/*-----Latest products style ends -------*/



/*---Navbar style ends here-----*/

/*--slider styles-------*/

.item{
	max-height:70vh;
}

/*--slider styles ends--*/




/*----------------------------------Homepage styles Ends -------------------------------------------*/

/*----------------------------------Registration form styles -------------------------------------------*/
.rg-form{
	width:550px;
	position: absolute;
	top:10%;
	left:30%;
}
.rg-heading{
	text-align: center;
	font-size:20px;
}
.btn-reg{
	margin-top:30px;
}
.bg-register{
	background-color:#585858;
	height:100vh;
	position: relative;
	
}
/*----------------------------------Registration form styles Ends -------------------------------------------*/

/*----------------------------------Login form styles -------------------------------------------*/
.login-body{
	height:100vh;
	position: relative;
	background-color:#585858;
}
.login-box{
	width: 500px;
	position: absolute;
	top:25%;
	right:35%;
}
.remember-me{
	margin-top:10px;
	padding-left: 20px;
}
.remember-me li{
	display: inline-block;
	margin-right:50px;
	margin-left: 0;
}
h5{
	margin-left:80px;
}






/*----------------------------------login form styles Ends -------------------------------------------*/

/*-- mail --*/
.mail h3:before{
	left:25%;
}
.mail h3:after{
	right:25%;
}
.mail-grids{
	margin:3em 0;
}
.mail-grid-left input[type="text"],.mail-grid-left input[type="email"],.mail-grid-left textarea{
	outline: none;
    border: 1px solid #E4E4E4;
    background: #f5f5f5;
    font-size: 14px;
    color: #212121;
    padding: 10px;
    width: 100%;
}
.mail-grid-left input[type="email"]{
	margin:1em 0;
}
.mail-grid-left textarea{
	min-height:200px;
	margin:1em 0 .8em;
}
.mail-grid-left input[type="submit"]{
	outline:none;
	border:none;
	background:#d8703f;
	font-size:1em;
	color:#fff;
	padding:10px 0;
	width:30%;
}
.mail-grid-left input[type="submit"]:hover{
	background:#ffc229;
}
.mail-grid-right1{
	padding:2em;
	background:#ffc229;
	text-align:center;
}
.mail-grid-right1 img {
    margin: 0 auto;
    padding: .5em;
    border: 1px dotted #212121;
    border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
}
.mail-grid-right1 h4{
	font-size:1em;
	color:#212121;
	margin:1em 0;
	text-transform:uppercase;
}
.mail-grid-right1 h4 span{
	display: block;
    text-transform: capitalize;
    font-size: .8em;
    color:#FFFFFF;
    margin: .5em 0 0;
}
.mail-grid-right1 ul.phone-mail li{
	list-style-type:none;
	margin-bottom:1em;
	font-size:14px;
	color:#FFFFFF;
}
.mail-grid-right1 ul.phone-mail li a{
	color:#FFFFFF;
	text-decoration:none;
}
.mail-grid-right1 ul.phone-mail li a:hover{
	color:#212121;
}
.mail-grid-right1 ul li i{
	left:-.5em;
}
ul.phone-mail {
    margin: 0 0 2em;
}
.mail iframe{
	width:100%;
	min-height:300px;
	padding:0 1em;
}
.contact{
	padding-top:50px;
}
.heading{
	text-align: center;
}
.social-icons li{
	display: inline-block;
	margin-right:20px;
}
.contact iframe{
	width: 100%;
	height:300px;
}
/*-----------------------------contact style ends-----------------